<header>
  <h2 class="welcome-header center-align text-secondary"><b><i>Lists</i></b></h2>
  <div class="center-align">
    <%= button_to "Create a List", new_user_list_path, method: :get, class: "btn btn-outline-secondary" %>
  </div>
</header>

<body>
  <div id="lists">
    <% @lists.each do |list| %>
      <section class="container" id="list-<%= list.id %>">
        <h4><%= list.name %></h4>
        <% list.tasks.each do |task| %>
          <div class="col"><%= task.name %></div>
        <% end %>
      </section>
    <% end %>
  </div>
</body>