<header>
  <h2 class="welcome-header center-align text-secondary"><b><i>Lists</i></b></h2>
  <div class="center-align">
    <%= button_to "Create a List", new_user_list_path, method: :get, class: "btn btn-outline-secondary" %>
  </div>
</header>